{% extends "ProjetBurgerBundle::alayout.html.twig" %}
{% block title %}
    Delete Product-{{ parent() }}
{% endblock %}
{% block goodburger_body %}
    <h2>Delete or Change state of a Product</h2>
    <hr>
    {% if notification is defined %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Notification !</strong>   {{ notification }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
            <p>If the product is in available state, after the state wll change in not available while if the state is not available the product will be delete</p>
            <br>
            <form action="{{ path('projet_burger_vdproduct') }}" method="post">
                <div class="form-group">
                    <label for="dp">Select the product to delete</label>
                    <select class="form-control" id="dp" name="dp">
                        {% for prod in product %}
                            <option>{{ prod.getName() }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Delete|Change state</button>
            </form>
    {% endif %}
    {% block javasrcipts %}
        {{ parent() }}
    {% endblock %}

{% endblock %}